language: node_js
node_js:
  - 7
  - 6
  - 4
before_install:
  - npm config set depth 0
script:
  - npm install webpack
  - npm run lint
  - npm run test
  - npm run build
  - nyc --silent npm run test
  - nyc report --reporter=text-lcov | coveralls
  - nyc check-coverage --lines 90
after_success:
  - npm run build
  - semantic-release pre
  - npm publish
  - semantic-release post
notifications:
  email: false
sudo: false
